<form
  autocomplete="off"
  [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      type="password"
      appAutoFocus
      [focusActivated]="focusActivated"
      formControlName="password"
      maxlength="100"
      [placeholder]="('app.auth.form.placeholder4' | translate)">

    <fa-icon
      icon="info-circle"
      matSuffix
      matTooltip="Password should be at least 8 characters long, with at least one lowercase character, one uppercase character, one number and one special symbol"
      matTooltipPosition="above"
      (click)="$event.stopPropagation()">
    </fa-icon>
    <mat-error *ngIf="form.get('password').errors?.required">
      {{ 'app.auth.form.error4' | translate }}
    </mat-error>

    <mat-error *ngIf="form.get('password').errors?.pattern">
      {{ 'app.auth.form.error5' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      maxlength="100"
      [placeholder]="('app.auth.form.placeholder5' | translate)"
      [errorStateMatcher]="errorMatcher">

    <mat-error *ngIf="form.get('confirmPassword').errors?.required">
      {{ 'app.auth.form.error6' | translate }}
    </mat-error>

    <mat-error *ngIf="form.hasError('passwordsDoNotMatch') && !form.get('confirmPassword').errors?.required">
      {{ 'app.auth.form.error7' | translate }}
    </mat-error>
  </mat-form-field>
</form>
