<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'app.title.long' | translate }}</h1>

      <div class="row">
        <div class="col-6">
          <p>The main goal of this project is to provide an up to date example of Angular application following all recent best practices in various areas like:</p>

          <ul>
            <li>@ngrx/store - including reducers, actions, selectors</li>
            <li>@ngrx/effects - for implementation of side effects like http requests, logging, notifications,...</li>
            <li>@ngrx/entity - for CRUD operations</li>
            <li>@ngrx/router-store - to connect the Angular Router to @ngrx/store</li>
            <li>@ngrx/store-devtools - to enable a powerful time-travelling debugger.</li>
            <li>@angular/material - material design component library, theming, ...</li>
            <li>routing</li>
            <li>testing of all the above mentioned concepts</li>
            <li>Angular CLI configuration (prod build, budgets, ...)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
